name: build
on:
  push:
    branches:
      - master
      - main
  pull_request:

env:
  TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  test:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-13, windows-latest]
    steps:
    - name: Checkout
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 #v4.1.7
    - name: Set up Go
      uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 #v5.0.1
      with:
        go-version: 1.21
    - name: Initialize CodeQL
      uses: github/codeql-action/init@eb055d739abdc2e8de2e5f4ba1a8b246daa779aa #v3.26.0
      with:
        languages: go
    - name: Run build
      run: make build
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@eb055d739abdc2e8de2e5f4ba1a8b246daa779aa #v3.26.0
    - name: Run tests
      run: make test
    - name: Doc test
      run: |
        sh script/check_doc.sh